In [7]:
import pandas as pd
from flask import jsonify

In [2]:
df = pd.read_html('http://www.pewhispanic.org/2017/02/13/estimates-of-unauthorized-immigrant-population-by-metro-area-2014/')

In [15]:
df = df[0]
df.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unauthorized immigrant % of...\n,Rank by population\n,Unnamed: 5_level_0,Unnamed: 6_level_0
,Area\n,Total,Margin\nof error,Foreign-born pop.,Total\npop.,Unauthorized\nimmigrant,Total population\n
0,Total U.S.,11100000,"+/-170,000",26.0,3.5,-,-
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Akron, OH","<5,000","+/-3,000",11.0,0.4,150,76
3,"Albany-Schenectady-Troy, NY","<5,000","+/-5,000",8.0,0.6,140,65
4,"Albuquerque, NM",40000,"+/-10,000",40.0,4.3,44,61

In [16]:
df.dropna(inplace=True)
df.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unauthorized immigrant % of...\n,Rank by population\n,Unnamed: 5_level_0,Unnamed: 6_level_0
,Area\n,Total,Margin\nof error,Foreign-born pop.,Total\npop.,Unauthorized\nimmigrant,Total population\n
0,Total U.S.,11100000,"+/-170,000",26.0,3.5,-,-
2,"Akron, OH","<5,000","+/-3,000",11.0,0.4,150,76
3,"Albany-Schenectady-Troy, NY","<5,000","+/-5,000",8.0,0.6,140,65
4,"Albuquerque, NM",40000,"+/-10,000",40.0,4.3,44,61
5,"Allentown-Bethlehem-Easton, PA-NJ",15000,"+/-5,000",19.0,1.7,90,68

In [46]:
[x for x in df.columns.get_level_values(1)]

['Area\n',
 'Total',
 'Margin\nof error',
 'Foreign-born pop.',
 'Total\npop.',
 'Unauthorized\nimmigrant',
 'Total population\n']

In [54]:
df[[x for x in df.columns.get_level_values(0)]].head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unauthorized immigrant % of...\n,Rank by population\n,Unnamed: 5_level_0,Unnamed: 6_level_0
,Area\n,Total,Margin\nof error,Foreign-born pop.,Total\npop.,Unauthorized\nimmigrant,Total population\n
0,Total U.S.,11100000,"+/-170,000",26.0,3.5,-,-
2,"Akron, OH","<5,000","+/-3,000",11.0,0.4,150,76
3,"Albany-Schenectady-Troy, NY","<5,000","+/-5,000",8.0,0.6,140,65
4,"Albuquerque, NM",40000,"+/-10,000",40.0,4.3,44,61
5,"Allentown-Bethlehem-Easton, PA-NJ",15000,"+/-5,000",19.0,1.7,90,68

In [60]:
df.columns.droplevel()

Index(['Area\n', 'Total', 'Margin\nof error', 'Foreign-born pop.',
       'Total\npop.', 'Unauthorized\nimmigrant', 'Total population\n'],
      dtype='object')

In [61]:
df.columns = df.columns.droplevel()

In [63]:
df.to_dict()

{'Area\n': {0: 'Total U.S.',
  2: 'Akron, OH',
  3: 'Albany-Schenectady-Troy, NY',
  4: 'Albuquerque, NM',
  5: 'Allentown-Bethlehem-Easton, PA-NJ',
  6: 'Amarillo, TX',
  8: 'Anchorage, AK',
  9: 'Ann Arbor, MI',
  10: 'Asheville, NC',
  11: 'Atlanta-Sandy Springs-Roswell, GA',
  12: 'Atlantic City-Hammonton, NJ',
  14: 'Augusta-Richmond County, GA-SC',
  15: 'Austin-Round Rock, TX',
  16: 'Bakersfield, CA',
  17: 'Baltimore-Columbia-Towson, MD',
  18: 'Baton Rouge, LA',
  20: 'Beaumont-Port Arthur, TX',
  21: 'Bellingham, WA',
  22: 'Birmingham-Hoover, AL',
  23: 'Boise City, ID',
  24: 'Boston-Cambridge-Newton, MA-NH',
  26: 'Bridgeport-Stamford-Norwalk, CT',
  27: 'Brownsville-Harlingen, TX',
  28: 'Buffalo-Cheektowaga-Niagara Falls, NY',
  29: 'Cape Coral-Fort Myers, FL',
  30: 'Champaign-Urbana, IL',
  32: 'Charleston-North Charleston, SC',
  33: 'Charlotte-Concord-Gastonia, NC-SC',
  34: 'Chattanooga, TN-GA',
  35: 'Chicago-Naperville-Elgin, IL-IN-WI',
  36: 'Cincinnati, OH-KY-IN',
  38: 'Cleveland-Elyria, OH',
  39: 'College Station-Bryan, TX',
  40: 'Colorado Springs, CO',
  41: 'Columbia, SC',
  42: 'Columbus, OH',
  44: 'Corpus Christi, TX',
  45: 'Dallas-Fort Worth-Arlington, TX',
  46: 'Dayton, OH',
  47: 'Deltona-Daytona Beach-Ormond Beach, FL',
  48: 'Denver-Aurora-Lakewood, CO',
  50: 'Des Moines-West Des Moines, IA',
  51: 'Detroit-Warren-Dearborn, MI',
  52: 'El Centro, CA',
  53: 'El Paso, TX',
  54: 'Eugene, OR',
  56: 'Fayetteville, NC',
  57: 'Fayetteville-Springdale-Rogers, AR-MO',
  58: 'Fort Wayne, IN',
  59: 'Fresno, CA',
  60: 'Gainesville, FL',
  62: 'Gainesville, GA',
  63: 'Grand Rapids-Wyoming, MI',
  64: 'Greensboro-High Point, NC',
  65: 'Greenville-Anderson-Mauldin, SC',
  66: 'Hanford-Corcoran, CA',
  68: 'Harrisburg-Carlisle, PA',
  69: 'Hartford-West Hartford-East Hartford, CT',
  70: 'Hickory-Lenoir-Morganton, NC',
  71: 'Hilton Head Island-Bluffton-Beaufort, SC',
  72: 'Houston-The Woodlands-Sugar Land, TX',
  74: 'Huntsville, AL',
  75: 'Indianapolis-Carmel-Anderson, IN',
  76: 'Jacksonville, FL',
  77: 'Kansas City, MO-KS',
  78: 'Knoxville, TN',
  80: 'Lafayette-West Lafayette, IN',
  81: 'Lake Havasu City-Kingman, AZ',
  82: 'Lakeland-Winter Haven, FL',
  83: 'Lancaster, PA',
  84: 'Lansing-East Lansing, MI',
  86: 'Laredo, TX',
  87: 'Las Cruces, NM',
  88: 'Las Vegas-Henderson-Paradise, NV',
  89: 'Lincoln, NE',
  90: 'Little Rock-North Little Rock-Conway, AR',
  92: 'Los Angeles-Long Beach-Anaheim, CA',
  93: 'Louisville/Jefferson County, KY-IN',
  94: 'Madera, CA',
  95: 'Manchester-Nashua, NH',
  96: 'McAllen-Edinburg-Mission, TX',
  98: 'Memphis, TN-MS-AR',
  99: 'Merced, CA',
  100: 'Miami-Fort Lauderdale-West Palm Beach, FL',
  101: 'Midland, TX',
  102: 'Milwaukee-Waukesha-West Allis, WI',
  104: 'Minneapolis-St. Paul-Bloomington, MN-WI',
  105: 'Modesto, CA',
  106: 'Myrtle Beach-Conway-North Myrtle Beach, SC-NC',
  107: 'Napa, CA',
  108: 'Naples-Immokalee-Marco Island, FL',
  110: 'Nashville-Davidson--Murfreesboro--Franklin, TN',
  111: 'New Haven-Milford, CT',
  112: 'New Orleans-Metairie, LA',
  113: 'New York-Newark-Jersey City, NY-NJ-PA',
  114: 'North Port-Sarasota-Bradenton, FL',
  116: 'Norwich-New London, CT',
  117: 'Ocala, FL',
  118: 'Odessa, TX',
  119: 'Ogden-Clearfield, UT',
  120: 'Oklahoma City, OK',
  122: 'Omaha-Council Bluffs, NE-IA',
  123: 'Orlando-Kissimmee-Sanford, FL',
  124: 'Oxnard-Thousand Oaks-Ventura, CA',
  125: 'Palm Bay-Melbourne-Titusville, FL',
  126: 'Pensacola-Ferry Pass-Brent, FL',
  128: 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
  129: 'Phoenix-Mesa-Scottsdale, AZ',
  130: 'Pittsburgh, PA',
  131: 'Port St. Lucie, FL',
  132: 'Portland-South Portland, ME',
  134: 'Portland-Vancouver-Hillsboro, OR-WA',
  135: 'Providence-Warwick, RI-MA',
  136: 'Provo-Orem, UT',
  137: 'Raleigh, NC',
  138: 'Reading, PA',
  140: 'Reno, NV',
  141: 'Richmond, VA',
  142: 'Riverside-San Bernardino-Ontario, CA',
  143: 'Rochester, NY',
  144: 'Rockford, IL',
  146: 'Sacramento--Roseville--Arden-Arcade, CA',
  147: 'Salinas, CA',
  148: 'Salisbury, MD-DE',
  149: 'Salt Lake City, UT',
  150: 'San Antonio-New Braunfels, TX',
  152: 'San Diego-Carlsbad, CA',
  153: 'San Francisco-Oakland-Hayward, CA',
  154: 'San Jose-Sunnyvale-Santa Clara, CA',
  155: 'San Luis Obispo-Paso Robles-Arroyo Grande, CA',
  156: 'Santa Cruz-Watsonville, CA',
  158: 'Santa Maria-Santa Barbara, CA',
  159: 'Santa Rosa, CA',
  160: 'Scranton--Wilkes-Barre--Hazleton, PA',
  161: 'Seattle-Tacoma-Bellevue, WA',
  162: 'Spokane-Spokane Valley, WA',
  164: 'Springfield, MA',
  165: 'St. Louis, MO-IL',
  166: 'Stockton-Lodi, CA',
  167: 'Syracuse, NY',
  168: 'Tampa-St. Petersburg-Clearwater, FL',
  170: 'Toledo, OH',
  171: 'Trenton, NJ',
  172: 'Tucson, AZ',
  173: 'Urban Honolulu, HI',
  174: 'Vallejo-Fairfield, CA',
  176: 'Virginia Beach-Norfolk-Newport News, VA-NC',
  177: 'Visalia-Porterville, CA',
  178: 'Waco, TX',
  179: 'Washington-Arlington-Alexandria, DC-VA-MD-WV',
  180: 'Wichita, KS',
  182: 'Winston-Salem, NC',
  183: 'Worcester, MA-CT',
  184: 'Yakima, WA',
  185: 'Yuba City, CA',
  186: 'Yuma, AZ'},
 'Foreign-born pop.': {0: 26.0,
  2: 11.0,
  3: 8.0,
  4: 40.0,
  5: 19.0,
  6: 24.0,
  8: 15.0,
  9: 19.0,
  10: 34.0,
  11: 33.0,
  12: 30.0,
  14: 23.0,
  15: 34.0,
  16: 25.0,
  17: 22.0,
  18: 32.0,
  20: 32.0,
  21: 16.0,
  22: 47.0,
  23: 39.0,
  24: 21.0,
  26: 30.0,
  27: 34.0,
  28: 5.0,
  29: 28.0,
  30: 19.0,
  32: 29.0,
  33: 41.0,
  34: 34.0,
  35: 25.0,
  36: 22.0,
  38: 14.0,
  39: 36.0,
  40: 25.0,
  41: 31.0,
  42: 22.0,
  44: 26.0,
  45: 37.0,
  46: 16.0,
  47: 24.0,
  48: 37.0,
  50: 22.0,
  51: 18.0,
  52: 19.0,
  53: 22.0,
  54: 33.0,
  56: 20.0,
  57: 53.0,
  58: 31.0,
  59: 24.0,
  60: 12.0,
  62: 58.0,
  63: 28.0,
  64: 42.0,
  65: 37.0,
  66: 29.0,
  68: 19.0,
  69: 17.0,
  70: 53.0,
  71: 53.0,
  72: 37.0,
  74: 35.0,
  75: 32.0,
  76: 18.0,
  77: 31.0,
  78: 30.0,
  80: 25.0,
  81: 28.0,
  82: 32.0,
  83: 6.0,
  84: 10.0,
  86: 29.0,
  87: 23.0,
  88: 35.0,
  89: 20.0,
  90: 49.0,
  92: 22.0,
  93: 27.0,
  94: 32.0,
  95: 15.0,
  96: 35.0,
  98: 48.0,
  99: 24.0,
  100: 18.0,
  101: 39.0,
  102: 28.0,
  104: 23.0,
  105: 22.0,
  106: 47.0,
  107: 35.0,
  108: 32.0,
  110: 36.0,
  111: 28.0,
  112: 34.0,
  113: 19.0,
  114: 24.0,
  116: 9.0,
  117: 18.0,
  118: 33.0,
  119: 26.0,
  120: 42.0,
  122: 38.0,
  123: 26.0,
  124: 25.0,
  125: 15.0,
  126: 18.0,
  128: 24.0,
  129: 37.0,
  130: 18.0,
  131: 24.0,
  132: 9.0,
  134: 28.0,
  135: 18.0,
  136: 45.0,
  137: 38.0,
  138: 32.0,
  140: 41.0,
  141: 28.0,
  142: 25.0,
  143: 9.0,
  144: 24.0,
  146: 14.0,
  147: 35.0,
  148: 37.0,
  149: 39.0,
  150: 30.0,
  152: 22.0,
  153: 17.0,
  154: 17.0,
  155: 42.0,
  156: 25.0,
  158: 35.0,
  159: 33.0,
  160: 31.0,
  161: 23.0,
  162: 21.0,
  164: 11.0,
  165: 20.0,
  166: 22.0,
  167: 4.0,
  168: 20.0,
  170: 15.0,
  171: 27.0,
  172: 26.0,
  173: 16.0,
  174: 17.0,
  176: 21.0,
  177: 30.0,
  178: 49.0,
  179: 29.0,
  180: 27.0,
  182: 49.0,
  183: 14.0,
  184: 52.0,
  185: 20.0,
  186: 37.0},
 'Margin\nof error': {0: '+/-170,000',
  2: '+/-3,000',
  3: '+/-5,000',
  4: '+/-10,000',
  5: '+/-5,000',
  6: '+/-3,000',
  8: '+/-5,000',
  9: '+/-4,000',
  10: '+/-3,000',
  11: '+/-20,000',
  12: '+/-5,000',
  14: '+/-3,000',
  15: '+/-15,000',
  16: '+/-10,000',
  17: '+/-10,000',
  18: '+/-4,000',
  20: '+/-4,000',
  21: '+/-2,000',
  22: '+/-4,000',
  23: '+/-5,000',
  24: '+/-20,000',
  26: '+/-10,000',
  27: '+/-5,000',
  28: '+/-5,000',
  29: '+/-5,000',
  30: '+/-3,000',
  32: '+/-4,000',
  33: '+/-10,000',
  34: '+/-3,000',
  35: '+/-30,000',
  36: '+/-10,000',
  38: '+/-5,000',
  39: '+/-3,000',
  40: '+/-5,000',
  41: '+/-5,000',
  42: '+/-10,000',
  44: '+/-4,000',
  45: '+/-25,000',
  46: '+/-5,000',
  47: '+/-5,000',
  48: '+/-15,000',
  50: '+/-5,000',
  51: '+/-15,000',
  52: '+/-5,000',
  53: '+/-10,000',
  54: '+/-3,000',
  56: '+/-3,000',
  57: '+/-5,000',
  58: '+/-4,000',
  59: '+/-10,000',
  60: '+/-2,000',
  62: '+/-2,000',
  63: '+/-5,000',
  64: '+/-5,000',
  65: '+/-4,000',
  66: '+/-4,000',
  68: '+/-5,000',
  69: '+/-10,000',
  70: '+/-2,000',
  71: '+/-3,000',
  72: '+/-25,000',
  74: '+/-3,000',
  75: '+/-10,000',
  76: '+/-10,000',
  77: '+/-10,000',
  78: '+/-4,000',
  80: '+/-2,000',
  81: '+/-4,000',
  82: '+/-5,000',
  83: '+/-4,000',
  84: '+/-5,000',
  86: '+/-5,000',
  87: '+/-5,000',
  88: '+/-10,000',
  89: '+/-4,000',
  90: '+/-4,000',
  92: '+/-40,000',
  93: '+/-5,000',
  94: '+/-4,000',
  95: '+/-4,000',
  96: '+/-10,000',
  98: '+/-5,000',
  99: '+/-5,000',
  100: '+/-30,000',
  101: '+/-4,000',
  102: '+/-10,000',
  104: '+/-15,000',
  105: '+/-5,000',
  106: '+/-3,000',
  107: '+/-3,000',
  108: '+/-5,000',
  110: '+/-10,000',
  111: '+/-5,000',
  112: '+/-5,000',
  113: '+/-45,000',
  114: '+/-5,000',
  116: '+/-5,000',
  117: '+/-4,000',
  118: '+/-3,000',
  119: '+/-4,000',
  120: '+/-10,000',
  122: '+/-5,000',
  123: '+/-20,000',
  124: '+/-10,000',
  125: '+/-5,000',
  126: '+/-3,000',
  128: '+/-20,000',
  129: '+/-20,000',
  130: '+/-5,000',
  131: '+/-5,000',
  132: '+/-5,000',
  134: '+/-15,000',
  135: '+/-5,000',
  136: '+/-3,000',
  137: '+/-10,000',
  138: '+/-4,000',
  140: '+/-5,000',
  141: '+/-5,000',
  142: '+/-20,000',
  143: '+/-5,000',
  144: '+/-4,000',
  146: '+/-15,000',
  147: '+/-10,000',
  148: '+/-3,000',
  149: '+/-10,000',
  150: '+/-10,000',
  152: '+/-20,000',
  153: '+/-25,000',
  154: '+/-15,000',
  155: '+/-4,000',
  156: '+/-4,000',
  158: '+/-5,000',
  159: '+/-5,000',
  160: '+/-4,000',
  161: '+/-15,000',
  162: '+/-5,000',
  164: '+/-5,000',
  165: '+/-10,000',
  166: '+/-10,000',
  167: '+/-4,000',
  168: '+/-15,000',
  170: '+/-3,000',
  171: '+/-5,000',
  172: '+/-10,000',
  173: '+/-10,000',
  174: '+/-5,000',
  176: '+/-10,000',
  177: '+/-5,000',
  178: '+/-5,000',
  179: '+/-30,000',
  180: '+/-5,000',
  182: '+/-4,000',
  183: '+/-5,000',
  184: '+/-5,000',
  185: '+/-3,000',
  186: '+/-4,000'},
 'Total': {0: '11100000',
  2: '<5,000',
  3: '<5,000',
  4: '40000',
  5: '15000',
  6: '5000',
  8: '5000',
  9: '10000',
  10: '10000',
  11: '250000',
  12: '15000',
  14: '5000',
  15: '100000',
  16: '45000',
  17: '65000',
  18: '10000',
  20: '10000',
  21: '<5,000',
  22: '20000',
  23: '20000',
  24: '180000',
  26: '65000',
  27: '40000',
  28: '<5,000',
  29: '35000',
  30: '<5,000',
  32: '10000',
  33: '95000',
  34: '10000',
  35: '425000',
  36: '20000',
  38: '15000',
  39: '10000',
  40: '10000',
  41: '15000',
  42: '35000',
  44: '10000',
  45: '475000',
  46: '5000',
  47: '15000',
  48: '130000',
  50: '10000',
  51: '75000',
  52: '10000',
  53: '50000',
  54: '5000',
  56: '<5,000',
  57: '30000',
  58: '5000',
  59: '50000',
  60: '<5,000',
  62: '20000',
  63: '20000',
  64: '30000',
  65: '20000',
  66: '10000',
  68: '5000',
  69: '30000',
  70: '10000',
  71: '10000',
  72: '575000',
  74: '5000',
  75: '40000',
  76: '20000',
  77: '45000',
  78: '10000',
  80: '5000',
  81: '5000',
  82: '20000',
  83: '<5,000',
  84: '<5,000',
  86: '20000',
  87: '10000',
  88: '170000',
  89: '<5,000',
  90: '15000',
  92: '1000000',
  93: '20000',
  94: '10000',
  95: '5000',
  96: '85000',
  98: '30000',
  99: '15000',
  100: '450000',
  101: '10000',
  102: '35000',
  104: '85000',
  105: '25000',
  106: '10000',
  107: '10000',
  108: '30000',
  110: '55000',
  111: '30000',
  112: '30000',
  113: '1150000',
  114: '20000',
  116: '<5,000',
  117: '<5,000',
  118: '5000',
  119: '10000',
  120: '50000',
  122: '25000',
  123: '110000',
  124: '50000',
  125: '5000',
  126: '<5,000',
  128: '160000',
  129: '250000',
  130: '15000',
  131: '15000',
  132: '<5,000',
  134: '90000',
  135: '40000',
  136: '20000',
  137: '60000',
  138: '10000',
  140: '25000',
  141: '25000',
  142: '250000',
  143: '5000',
  144: '5000',
  146: '60000',
  147: '50000',
  148: '10000',
  149: '55000',
  150: '85000',
  152: '170000',
  153: '240000',
  154: '120000',
  155: '15000',
  156: '15000',
  158: '35000',
  159: '25000',
  160: '10000',
  161: '150000',
  162: '5000',
  164: '5000',
  165: '25000',
  166: '40000',
  167: '<5,000',
  168: '75000',
  170: '<5,000',
  171: '25000',
  172: '35000',
  173: '30000',
  174: '15000',
  176: '25000',
  177: '30000',
  178: '10000',
  179: '400000',
  180: '15000',
  182: '25000',
  183: '15000',
  184: '25000',
  185: '5000',
  186: '20000'},
 'Total\npop.': {0: 3.5,
  2: 0.40000000000000002,
  3: 0.59999999999999998,
  4: 4.2999999999999998,
  5: 1.7,
  6: 2.5,
  8: 1.3,
  9: 2.7000000000000002,
  10: 1.7,
  11: 4.5,
  12: 4.9000000000000004,
  14: 1.3,
  15: 5.0,
  16: 5.0999999999999996,
  17: 2.2999999999999998,
  18: 1.1000000000000001,
  20: 2.7000000000000002,
  21: 1.6000000000000001,
  22: 1.7,
  23: 3.0,
  24: 3.7000000000000002,
  26: 6.7000000000000002,
  27: 9.0,
  28: 0.29999999999999999,
  29: 4.7999999999999998,
  30: 1.8999999999999999,
  32: 1.3999999999999999,
  33: 3.7999999999999998,
  34: 1.5,
  35: 4.5,
  36: 1.0,
  38: 0.80000000000000004,
  39: 5.5,
  40: 1.7,
  41: 1.8,
  42: 1.8,
  44: 1.8999999999999999,
  45: 6.9000000000000004,
  46: 0.69999999999999996,
  47: 2.2000000000000002,
  48: 4.7000000000000002,
  50: 1.7,
  51: 1.8,
  52: 6.2999999999999998,
  53: 5.7000000000000002,
  54: 1.8999999999999999,
  56: 1.5,
  57: 6.5,
  58: 2.0,
  59: 5.2000000000000002,
  60: 1.2,
  62: 10.1,
  63: 2.0,
  64: 3.6000000000000001,
  65: 2.0,
  66: 5.5999999999999996,
  68: 1.2,
  69: 2.2999999999999998,
  70: 2.7000000000000002,
  71: 5.4000000000000004,
  72: 8.6999999999999993,
  74: 1.8,
  75: 2.1000000000000001,
  76: 1.6000000000000001,
  77: 2.2000000000000002,
  78: 1.2,
  80: 2.7999999999999998,
  81: 2.7999999999999998,
  82: 3.1000000000000001,
  83: 0.29999999999999999,
  84: 0.69999999999999996,
  86: 7.5,
  87: 4.0999999999999996,
  88: 8.0,
  89: 1.6000000000000001,
  90: 2.2000000000000002,
  92: 7.5,
  93: 1.5,
  94: 6.7999999999999998,
  95: 1.3999999999999999,
  96: 10.199999999999999,
  98: 2.6000000000000001,
  99: 6.2999999999999998,
  100: 7.2999999999999998,
  101: 5.0999999999999996,
  102: 2.1000000000000001,
  104: 2.2999999999999998,
  105: 4.7000000000000002,
  106: 2.7000000000000002,
  107: 8.0999999999999996,
  108: 8.4000000000000004,
  110: 2.7999999999999998,
  111: 3.3999999999999999,
  112: 2.6000000000000001,
  113: 5.7000000000000002,
  114: 3.0,
  116: 0.80000000000000004,
  117: 1.3,
  118: 4.5,
  119: 1.7,
  120: 3.6000000000000001,
  122: 2.2999999999999998,
  123: 4.5999999999999996,
  124: 5.7000000000000002,
  125: 1.3,
  126: 0.90000000000000002,
  128: 2.6000000000000001,
  129: 5.5,
  130: 0.69999999999999996,
  131: 3.5,
  132: 0.5,
  134: 3.7000000000000002,
  135: 2.3999999999999999,
  136: 3.2999999999999998,
  137: 4.5,
  138: 2.5,
  140: 6.0,
  141: 2.2000000000000002,
  142: 5.5999999999999996,
  143: 0.59999999999999998,
  144: 2.0,
  146: 2.6000000000000001,
  147: 10.199999999999999,
  148: 2.6000000000000001,
  149: 4.7000000000000002,
  150: 3.7000000000000002,
  152: 5.2999999999999998,
  153: 5.2999999999999998,
  154: 6.5,
  155: 5.2000000000000002,
  156: 4.7000000000000002,
  158: 8.0999999999999996,
  159: 5.4000000000000004,
  160: 1.8999999999999999,
  161: 3.8999999999999999,
  162: 1.2,
  164: 0.90000000000000002,
  165: 0.90000000000000002,
  166: 5.4000000000000004,
  167: 0.20000000000000001,
  168: 2.6000000000000001,
  170: 0.5,
  171: 5.9000000000000004,
  172: 3.6000000000000001,
  173: 3.0,
  174: 3.3999999999999999,
  176: 1.3999999999999999,
  177: 6.4000000000000004,
  178: 4.7999999999999998,
  179: 6.7999999999999998,
  180: 2.1000000000000001,
  182: 3.7999999999999998,
  183: 1.5,
  184: 9.9000000000000004,
  185: 3.6000000000000001,
  186: 10.300000000000001},
 'Total population\n': {0: '-',
  2: '76',
  3: '65',
  4: '61',
  5: '68',
  6: '137',
  8: '108',
  9: '122',
  10: '99',
  11: '9',
  12: '134',
  14: '96',
  15: '32',
  16: '62',
  17: '21',
  18: '69',
  20: '118',
  21: '143',
  22: '50',
  23: '78',
  24: '10',
  26: '56',
  27: '113',
  28: '49',
  29: '80',
  30: '144',
  32: '74',
  33: '22',
  34: '97',
  35: '3',
  36: '29',
  38: '31',
  39: '142',
  40: '79',
  41: '70',
  42: '36',
  44: '103',
  45: '4',
  46: '71',
  47: '86',
  48: '19',
  50: '82',
  51: '14',
  52: '149',
  53: '67',
  54: '123',
  56: '128',
  57: '106',
  58: '121',
  59: '55',
  60: '136',
  62: '147',
  63: '60',
  64: '72',
  65: '58',
  66: '154',
  68: '92',
  69: '47',
  70: '117',
  71: '146',
  72: '5',
  74: '115',
  75: '33',
  76: '41',
  77: '28',
  78: '57',
  80: '148',
  81: '140',
  82: '84',
  83: '95',
  84: '105',
  86: '133',
  87: '141',
  88: '30',
  89: '129',
  90: '77',
  92: '2',
  93: '44',
  94: '152',
  95: '124',
  96: '66',
  98: '46',
  99: '135',
  100: '7',
  101: '151',
  102: '39',
  104: '16',
  105: '94',
  106: '114',
  107: '155',
  108: '125',
  110: '34',
  111: '63',
  112: '43',
  113: '1',
  114: '73',
  116: '131',
  117: '127',
  118: '153',
  119: '90',
  120: '40',
  122: '53',
  123: '25',
  124: '64',
  125: '93',
  126: '104',
  128: '6',
  129: '12',
  130: '24',
  131: '109',
  132: '98',
  134: '23',
  135: '38',
  136: '91',
  137: '42',
  138: '116',
  140: '111',
  141: '45',
  142: '13',
  143: '51',
  144: '126',
  146: '27',
  147: '102',
  148: '119',
  149: '48',
  150: '26',
  152: '17',
  153: '11',
  154: '35',
  155: '130',
  156: '132',
  158: '110',
  159: '100',
  160: '101',
  161: '15',
  162: '88',
  164: '89',
  165: '20',
  166: '75',
  167: '81',
  168: '18',
  170: '83',
  171: '120',
  172: '52',
  173: '54',
  174: '112',
  176: '37',
  177: '107',
  178: '139',
  179: '8',
  180: '87',
  182: '85',
  183: '59',
  184: '138',
  185: '150',
  186: '145'},
 'Unauthorized\nimmigrant': {0: '-',
  2: '150',
  3: '140',
  4: '44',
  5: '90',
  6: '132',
  8: '135',
  9: '114',
  10: '118',
  11: '8',
  12: '94',
  14: '128',
  15: '20',
  16: '40',
  17: '29',
  18: '115',
  20: '109',
  21: '147',
  22: '78',
  23: '74',
  24: '12',
  26: '28',
  27: '45',
  28: '146',
  29: '50',
  30: '145',
  32: '111',
  33: '21',
  34: '121',
  35: '6',
  36: '73',
  38: '84',
  39: '98',
  40: '100',
  41: '91',
  42: '48',
  44: '116',
  45: '4',
  46: '136',
  47: '93',
  48: '17',
  50: '101',
  51: '26',
  52: '103',
  53: '38',
  54: '129',
  56: '141',
  57: '53',
  58: '123',
  59: '35',
  60: '151',
  62: '77',
  63: '81',
  64: '58',
  65: '79',
  66: '119',
  68: '125',
  69: '59',
  70: '106',
  71: '105',
  72: '3',
  74: '124',
  75: '41',
  76: '71',
  77: '39',
  78: '104',
  80: '138',
  81: '134',
  82: '76',
  83: '155',
  84: '148',
  86: '75',
  87: '117',
  88: '14',
  89: '142',
  90: '87',
  92: '2',
  93: '82',
  94: '107',
  95: '139',
  96: '23',
  98: '52',
  99: '83',
  100: '5',
  101: '120',
  102: '49',
  104: '25',
  105: '64',
  106: '102',
  107: '99',
  108: '55',
  110: '33',
  111: '57',
  112: '51',
  113: '1',
  114: '70',
  116: '153',
  117: '143',
  118: '126',
  119: '112',
  120: '34',
  122: '68',
  123: '19',
  124: '37',
  125: '122',
  126: '144',
  128: '15',
  129: '10',
  130: '86',
  131: '85',
  132: '152',
  134: '22',
  135: '42',
  136: '80',
  137: '31',
  138: '108',
  140: '62',
  141: '60',
  142: '9',
  143: '131',
  144: '130',
  146: '30',
  147: '36',
  148: '110',
  149: '32',
  150: '24',
  152: '13',
  153: '11',
  154: '18',
  155: '89',
  156: '96',
  158: '47',
  159: '61',
  160: '113',
  161: '16',
  162: '127',
  164: '137',
  165: '63',
  166: '43',
  167: '154',
  168: '27',
  170: '149',
  171: '69',
  172: '46',
  173: '54',
  174: '88',
  176: '67',
  177: '56',
  178: '97',
  179: '7',
  180: '95',
  182: '66',
  183: '92',
  184: '65',
  185: '133',
  186: '72'}}